<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
    <link href="stylesheets/dashboard.css" rel="stylesheet" type="text/css" media="screen" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
  </head>

  <body>
    <section class="heightviewport" id="bottom">  
      <div class="clearfix">
        <div class="dashboard_header_box">
          <div class="dashboard_title">
            Exam Visualization
          </div>
        </div>
        <div class="dashboard_header_box">
          <div class="dashboard_title_right">
            <a href="/vis1exam">Vis 1</a> | 
            <a href="/vis2exam">Vis 2</a> 
          </div>
        </div>
      </div>

      <div class="clearfix">
        <div class="column content">
          <h5 style="color:white; font-family:Arial;">
            Click "Play" to view how many cases in specified countries on each day between 2020-01-22 and 2020-04-10. <br/>
            Click "Sort" to view how many cases in specified countries sorted by last recorded number (warning: only works when chart is not animating). <br/>
          </h5>

          <button id="play-button-country">Play</button>
          <button id="sort-button-country">Sort</button>
          <svg id="country_bar_chart" width="1200" height="600"></svg><br/>

        </div>
        <div class="column right-content">
        </div>
      </div>
    </section>
  </body>

  <script type="text/javascript" src="/scripts/stats.js"></script>

</html>