* {
  box-sizing: border-box; 
}

body {
  margin: 0; 
  font-weight: 500;
  font-family: 'Oswald', 'HelveticaNeue';
}

section {
  width: 100%;
  padding: 0 1%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
  
  &:nth-of-type(2n) {
    background-color: #FE4B74;
  }
}

button {
  background-color: #e7e7e7; color: black;
  border: none;
  color: black;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.heightviewport {
  height: 100vh;
}

.dashboard_title {
  font-size: 2em;
  display: block;
  color: white;
  opacity: 0.5;
  font-weight: 300;
  font-family: 'Oswald', 'HelveticaNeue';
  text-transform: uppercase;  
}

.dashboard_title_right {
  font-size: 1.2em;
  display: block;
  color: white;  
  font-weight: 300;
  font-family: 'Oswald', 'HelveticaNeue';
  text-transform: uppercase;  
  float: right;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.dashboard_header_box {
  float: left;
  width: 50%;
  padding: 0px;
}

.column {
  float: left;
}

.menu {
  width: 10%;
}

.content {
  width: 100%;
}

.content-map {
  width: 80%;
}

.right-content {
  width: 10%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
  font-family: 'Oswald', 'HelveticaNeue';
  text-transform: uppercase;
}

p {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  opacity: 0.7;
}

a {
  font-weight: 700;
  color: #DEFFFC;
  opacity: 0.5;
  position: relative;
  
  &:hover{ 
    opacity: 0.8;
  }
  
  &:active {
    top: 1px;
  }
}

footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #373B44;
  color: white;
  
  a {
    color: #FE4B74;
    font-weight: 500;
    text-decoration: none;
  }
}

/* BAR */
.axis_white line{
  stroke: white;
}

.axis_white path{
  stroke: white;
}

.axis_white text{
  fill: white;
}  


/* MAP */
.map_svg {
  width: 100%;
  height: 30vh;
  margin: 0px 
  auto;
}

.site {
  stroke-width: .5px;
  stroke: white;
  opacity: 0.5;
  fill: white;
}

/* MAP SLIDER */
.ticks {
  font: 10px Arial, Helvetica, sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: white;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.venntooltip {
  position: absolute;
  text-align: center;
  font-size: 14px;
  width: 200px;
  height: 32px;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}

.chart rect {
    fill: steelblue;
}

    .chart rect:hover {
        fill: turquoise;
    }

.chart .rectM {
    stroke: green;
    stroke-width: 1;
    fill: green;
    fill-opacity: .2;
}

    .chart .rectM:hover {
        fill: green;
        fill-opacity: .5;
    }

.chart text {
    font: 10px sans-serif;
}

.chart .title {
    font: 15px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #FFF;
    shape-rendering: crispEdges;
}