<!DOCTYPE html>
<head>    
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		
				<script>
						L_NO_TOUCH = false;
						L_DISABLE_3D = false;
				</script>
		
		<script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
		<link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
		<style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
		<style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
		<style>
				#map_6695f013d6bf459395762096da3f4c65 {
						position: absolute;
						width: 70.0%;
						height: 100.0%;
						margin-top: 600px;
						margin-bottom: 100px;
						margin-left: 20px;
				}
		</style>
	
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css' />
	<link href="style.css" rel="stylesheet" type="text/css" media="screen" />

</head>

<body>
<div id="wrapper">
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="page-content">
					<div id="header-wrapper">
						<div id="header">
							<div id="logo">
								<h1><a href="#">Information Visualization</a></h1>
								<p>Own Time Own Target</a></p>
							</div>
						</div>
					</div>      

					<div id="menu-wrapper">
            <div id="menu">
              <ul>
                <li><a href="/">V1: Conferences Co-occurence Matrix</a></li>
                <li><a href="/v2">V2: Conferences by Ranks and Papers</a></li>
                <li><a href="/v3">V3: Stack Overflow Tag Network</a></li>
                <li><a href="/v4">V4: Singapore PSI 2016-2019</a></li>
                <li><a href="/v5">V5: Coronavirus Outbreak</a></li>
                <!--<li><a href="/v6">V6: Singapore Airbnb</a></li>-->
              </ul>
            </div>
          </div>
          <br/><br/><br/><br/>
          <hr>
          <br/><br/>

					<h3 align="center">Coronavirus Outbreak</h3>

					<br>
					<p>
						In year 2020, WHO has declared a novel coronavirus outbreak a public health emergency. The outbreak that started in Hubei province, China has since then spread throughout the world. 
					</p>

					<p>
						We visualize the number of confirmed, recovered, and death coronavirus patients in China provinces. <br/>
						We excluded Hubei data from the chart because the number is so big it skewed the whole chart. As a replacement, we include Hubei's patients information on the top right side of the chart. <br/> 
					</p>

					<p>
						We also visualize the data in a form of map in order to see which countries have since the outbreak reported confirmed cases. 						
					</p>

					<p>
						The preprocessed world coordinates data can be downloaded <a href="data/world_coordinates.csv">here</a> and the nCoV patients count can be downloaded <a href="data/2019_nCoV_data.csv">here</a>. The acquired nCoV data is extracted from 22 January 2020 to 4 February 2020.						
					</p>
					<p>
						The following chart and map are generated using Python codes, the code can be downloaded <a href="data/coronavirus_chart.py">here</a>.
					</p>

					<div id="content">
						<img src="data/nCov_status_china.png" width="100%" style="padding-bottom: 700px"></img>
					</div>
					
					<div class="folium-map" id="map_6695f013d6bf459395762096da3f4c65" ></div>
					
				</div>
			</div>
		</div>
	</div>
</div>

</body>

<script>    
    
            var map_6695f013d6bf459395762096da3f4c65 = L.map(
                "map_6695f013d6bf459395762096da3f4c65",
                {
                    center: [10.0, -20.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2.3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4a2ab9b70e4d4e7caf87daa504d87c99 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
            var circle_marker_b06b5d12e56f4ef8a136c7be8d352f9e = L.circleMarker(
                [23.424076, 53.847818000000004],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_1d3d0f4c0de94493b1d0e633bea63f41 = L.popup({"maxWidth": "100%"});

        
            var html_2e030bf0e8a5487384599b8a98dca640 = $(`<div id="html_2e030bf0e8a5487384599b8a98dca640" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: United arab emirates<br><strong>Confirmed Cases</strong>: 5<br></div>`)[0];
            popup_1d3d0f4c0de94493b1d0e633bea63f41.setContent(html_2e030bf0e8a5487384599b8a98dca640);
        

        circle_marker_b06b5d12e56f4ef8a136c7be8d352f9e.bindPopup(popup_1d3d0f4c0de94493b1d0e633bea63f41)
        ;

        
    
    
            var circle_marker_15a621536c4a4cb8a01665c0391e9116 = L.circleMarker(
                [-25.274398, 133.775136],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_634be9cb1b1f485d83f72944366907b4 = L.popup({"maxWidth": "100%"});

        
            var html_8c14aa18e093464eba44256f919c8e3a = $(`<div id="html_8c14aa18e093464eba44256f919c8e3a" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Australia<br><strong>Confirmed Cases</strong>: 13<br></div>`)[0];
            popup_634be9cb1b1f485d83f72944366907b4.setContent(html_8c14aa18e093464eba44256f919c8e3a);
        

        circle_marker_15a621536c4a4cb8a01665c0391e9116.bindPopup(popup_634be9cb1b1f485d83f72944366907b4)
        ;

        
    
    
            var circle_marker_9701bc91c19845f88507768d16163ea1 = L.circleMarker(
                [50.503887, 4.469936],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_3d42a6f1cffd4b3da404d399f9381509 = L.popup({"maxWidth": "100%"});

        
            var html_ab795924591042ecb43ce87d3fd4449b = $(`<div id="html_ab795924591042ecb43ce87d3fd4449b" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Belgium<br><strong>Confirmed Cases</strong>: 1<br></div>`)[0];
            popup_3d42a6f1cffd4b3da404d399f9381509.setContent(html_ab795924591042ecb43ce87d3fd4449b);
        

        circle_marker_9701bc91c19845f88507768d16163ea1.bindPopup(popup_3d42a6f1cffd4b3da404d399f9381509)
        ;

        
    
    
            var circle_marker_ece474e73f2644048e941fe661971ef9 = L.circleMarker(
                [56.130366, -106.34677099999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_fb41acec8aaf41058d7c76c5821fe5f7 = L.popup({"maxWidth": "100%"});

        
            var html_b868308f11e246fe8d82a2c9ee8191a4 = $(`<div id="html_b868308f11e246fe8d82a2c9ee8191a4" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Canada<br><strong>Confirmed Cases</strong>: 4<br></div>`)[0];
            popup_fb41acec8aaf41058d7c76c5821fe5f7.setContent(html_b868308f11e246fe8d82a2c9ee8191a4);
        

        circle_marker_ece474e73f2644048e941fe661971ef9.bindPopup(popup_fb41acec8aaf41058d7c76c5821fe5f7)
        ;

        
    
    
            var circle_marker_4607fa5bc544460caebee52481f72d06 = L.circleMarker(
                [35.86166, 104.195397],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_077be973e3f44c7d80c0ea84431f2e0e = L.popup({"maxWidth": "100%"});

        
            var html_e76553080a5f4368ae599058e74fba66 = $(`<div id="html_e76553080a5f4368ae599058e74fba66" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: China<br><strong>Confirmed Cases</strong>: 24290<br></div>`)[0];
            popup_077be973e3f44c7d80c0ea84431f2e0e.setContent(html_e76553080a5f4368ae599058e74fba66);
        

        circle_marker_4607fa5bc544460caebee52481f72d06.bindPopup(popup_077be973e3f44c7d80c0ea84431f2e0e)
        ;

        
    
    
            var circle_marker_460cc688390648c1a3607031fbaa118f = L.circleMarker(
                [51.165690999999995, 10.451526],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_2f976ced4d17445b847241a0eb53feae = L.popup({"maxWidth": "100%"});

        
            var html_08d2235765b34153812eeeb0657244f0 = $(`<div id="html_08d2235765b34153812eeeb0657244f0" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Germany<br><strong>Confirmed Cases</strong>: 12<br></div>`)[0];
            popup_2f976ced4d17445b847241a0eb53feae.setContent(html_08d2235765b34153812eeeb0657244f0);
        

        circle_marker_460cc688390648c1a3607031fbaa118f.bindPopup(popup_2f976ced4d17445b847241a0eb53feae)
        ;

        
    
    
            var circle_marker_05ea2c17c9a64ca0b558db796d56bbe6 = L.circleMarker(
                [40.463667, -3.7492199999999998],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_b60bb2ae811f4688ab26b82279892e05 = L.popup({"maxWidth": "100%"});

        
            var html_06cd3044a7b54058bcb185f8cd01a283 = $(`<div id="html_06cd3044a7b54058bcb185f8cd01a283" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Spain<br><strong>Confirmed Cases</strong>: 1<br></div>`)[0];
            popup_b60bb2ae811f4688ab26b82279892e05.setContent(html_06cd3044a7b54058bcb185f8cd01a283);
        

        circle_marker_05ea2c17c9a64ca0b558db796d56bbe6.bindPopup(popup_b60bb2ae811f4688ab26b82279892e05)
        ;

        
    
    
            var circle_marker_6fe8f15cd0f940f495131b8df66127e3 = L.circleMarker(
                [61.92411, 25.748151],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_b7201b61747d4032aaec274683c4baa3 = L.popup({"maxWidth": "100%"});

        
            var html_082c5a9e13ab4fa881624adbce59b423 = $(`<div id="html_082c5a9e13ab4fa881624adbce59b423" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Finland<br><strong>Confirmed Cases</strong>: 1<br></div>`)[0];
            popup_b7201b61747d4032aaec274683c4baa3.setContent(html_082c5a9e13ab4fa881624adbce59b423);
        

        circle_marker_6fe8f15cd0f940f495131b8df66127e3.bindPopup(popup_b7201b61747d4032aaec274683c4baa3)
        ;

        
    
    
            var circle_marker_8808c4757ded48b6a92e28a69d372f6d = L.circleMarker(
                [46.227638, 2.213749],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_c067f04472cd4702b4c9482c7d141bb3 = L.popup({"maxWidth": "100%"});

        
            var html_32ec41ae3f064d22917422dec526ea7d = $(`<div id="html_32ec41ae3f064d22917422dec526ea7d" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: France<br><strong>Confirmed Cases</strong>: 6<br></div>`)[0];
            popup_c067f04472cd4702b4c9482c7d141bb3.setContent(html_32ec41ae3f064d22917422dec526ea7d);
        

        circle_marker_8808c4757ded48b6a92e28a69d372f6d.bindPopup(popup_c067f04472cd4702b4c9482c7d141bb3)
        ;

        
    
    
            var circle_marker_2806f23aec374a6fbd0a58cd672afac1 = L.circleMarker(
                [55.378051, -3.435973],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_8765c6128ff449bb85f6d1fbc905bb28 = L.popup({"maxWidth": "100%"});

        
            var html_7d2c1747f22a4704920c327dcf53ffe5 = $(`<div id="html_7d2c1747f22a4704920c327dcf53ffe5" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Uk<br><strong>Confirmed Cases</strong>: 2<br></div>`)[0];
            popup_8765c6128ff449bb85f6d1fbc905bb28.setContent(html_7d2c1747f22a4704920c327dcf53ffe5);
        

        circle_marker_2806f23aec374a6fbd0a58cd672afac1.bindPopup(popup_8765c6128ff449bb85f6d1fbc905bb28)
        ;

        
    
    
            var circle_marker_3526e555800b40658f7ce6a3fe2ed383 = L.circleMarker(
                [22.396428, 114.10949699999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_9778589d173a4de680a5aab177318181 = L.popup({"maxWidth": "100%"});

        
            var html_73940c844faf4e3ea92ffd6c73d5dffe = $(`<div id="html_73940c844faf4e3ea92ffd6c73d5dffe" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Hong kong<br><strong>Confirmed Cases</strong>: 18<br></div>`)[0];
            popup_9778589d173a4de680a5aab177318181.setContent(html_73940c844faf4e3ea92ffd6c73d5dffe);
        

        circle_marker_3526e555800b40658f7ce6a3fe2ed383.bindPopup(popup_9778589d173a4de680a5aab177318181)
        ;

        
    
    
            var circle_marker_2195c93bcd3b4789917a01ba3027634f = L.circleMarker(
                [20.593684, 78.96288],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_cb8cf039ec3c4ce2af8fc906697284b5 = L.popup({"maxWidth": "100%"});

        
            var html_7e3028b91f7c40f681be81ac766e6a04 = $(`<div id="html_7e3028b91f7c40f681be81ac766e6a04" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: India<br><strong>Confirmed Cases</strong>: 3<br></div>`)[0];
            popup_cb8cf039ec3c4ce2af8fc906697284b5.setContent(html_7e3028b91f7c40f681be81ac766e6a04);
        

        circle_marker_2195c93bcd3b4789917a01ba3027634f.bindPopup(popup_cb8cf039ec3c4ce2af8fc906697284b5)
        ;

        
    
    
            var circle_marker_9dfd48f4f7634041a5c0e383926a9ac2 = L.circleMarker(
                [41.87194, 12.56738],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_e9f084f6748440c1a061a77ee31d5b4a = L.popup({"maxWidth": "100%"});

        
            var html_052b3fb49ba047cdb84f2ed98fd0b0c4 = $(`<div id="html_052b3fb49ba047cdb84f2ed98fd0b0c4" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Italy<br><strong>Confirmed Cases</strong>: 2<br></div>`)[0];
            popup_e9f084f6748440c1a061a77ee31d5b4a.setContent(html_052b3fb49ba047cdb84f2ed98fd0b0c4);
        

        circle_marker_9dfd48f4f7634041a5c0e383926a9ac2.bindPopup(popup_e9f084f6748440c1a061a77ee31d5b4a)
        ;

        
    
    
            var circle_marker_e9e7bc8ccf4c43059929c0629cd5f7d5 = L.circleMarker(
                [36.204824, 138.252924],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_e61cd59d730a4292b1571d04b6ce5698 = L.popup({"maxWidth": "100%"});

        
            var html_a8cbf7af64964f308e843b2acde01df7 = $(`<div id="html_a8cbf7af64964f308e843b2acde01df7" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Japan<br><strong>Confirmed Cases</strong>: 22<br></div>`)[0];
            popup_e61cd59d730a4292b1571d04b6ce5698.setContent(html_a8cbf7af64964f308e843b2acde01df7);
        

        circle_marker_e9e7bc8ccf4c43059929c0629cd5f7d5.bindPopup(popup_e61cd59d730a4292b1571d04b6ce5698)
        ;

        
    
    
            var circle_marker_99b616588b64462da64f41251dd6fd6a = L.circleMarker(
                [12.565679, 104.990963],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_b5bc6ad491fe4b8b82fcfadb2080407e = L.popup({"maxWidth": "100%"});

        
            var html_1826f1916c344dd9ac4b420a17854d2c = $(`<div id="html_1826f1916c344dd9ac4b420a17854d2c" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Cambodia<br><strong>Confirmed Cases</strong>: 1<br></div>`)[0];
            popup_b5bc6ad491fe4b8b82fcfadb2080407e.setContent(html_1826f1916c344dd9ac4b420a17854d2c);
        

        circle_marker_99b616588b64462da64f41251dd6fd6a.bindPopup(popup_b5bc6ad491fe4b8b82fcfadb2080407e)
        ;

        
    
    
            var circle_marker_1dabe9a10a7944df97691b9c210e91d9 = L.circleMarker(
                [35.907757000000004, 127.766922],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_45ebde2912e24d3999842257ce144ab6 = L.popup({"maxWidth": "100%"});

        
            var html_4869f56d007744e48235b90ebcff267f = $(`<div id="html_4869f56d007744e48235b90ebcff267f" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: South korea<br><strong>Confirmed Cases</strong>: 16<br></div>`)[0];
            popup_45ebde2912e24d3999842257ce144ab6.setContent(html_4869f56d007744e48235b90ebcff267f);
        

        circle_marker_1dabe9a10a7944df97691b9c210e91d9.bindPopup(popup_45ebde2912e24d3999842257ce144ab6)
        ;

        
    
    
            var circle_marker_70f30b2131514a83a7d23b30b7486237 = L.circleMarker(
                [7.873054, 80.77179699999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_6c9d23d3eb2348e4811f01776f48d210 = L.popup({"maxWidth": "100%"});

        
            var html_1bd9fc1419a247bfbbe3b5169cb870ae = $(`<div id="html_1bd9fc1419a247bfbbe3b5169cb870ae" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Sri lanka<br><strong>Confirmed Cases</strong>: 1<br></div>`)[0];
            popup_6c9d23d3eb2348e4811f01776f48d210.setContent(html_1bd9fc1419a247bfbbe3b5169cb870ae);
        

        circle_marker_70f30b2131514a83a7d23b30b7486237.bindPopup(popup_6c9d23d3eb2348e4811f01776f48d210)
        ;

        
    
    
            var circle_marker_0a1eb65a3d1e4f639c1f8ce32b0ff628 = L.circleMarker(
                [22.198745000000002, 113.543873],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_dda0a88e6b7d429088538503f851b422 = L.popup({"maxWidth": "100%"});

        
            var html_30b693b5eabf49e285fc25f129b897c5 = $(`<div id="html_30b693b5eabf49e285fc25f129b897c5" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Macau<br><strong>Confirmed Cases</strong>: 10<br></div>`)[0];
            popup_dda0a88e6b7d429088538503f851b422.setContent(html_30b693b5eabf49e285fc25f129b897c5);
        

        circle_marker_0a1eb65a3d1e4f639c1f8ce32b0ff628.bindPopup(popup_dda0a88e6b7d429088538503f851b422)
        ;

        
    
    
            var circle_marker_196263ba19c049efae9963b9a2d405e9 = L.circleMarker(
                [4.210483999999999, 101.97576600000001],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_99a9f8ce34854058ae857ad92e50b8ca = L.popup({"maxWidth": "100%"});

        
            var html_59b715dc7ebd4accb6a2764223aa837b = $(`<div id="html_59b715dc7ebd4accb6a2764223aa837b" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Malaysia<br><strong>Confirmed Cases</strong>: 10<br></div>`)[0];
            popup_99a9f8ce34854058ae857ad92e50b8ca.setContent(html_59b715dc7ebd4accb6a2764223aa837b);
        

        circle_marker_196263ba19c049efae9963b9a2d405e9.bindPopup(popup_99a9f8ce34854058ae857ad92e50b8ca)
        ;

        
    
    
            var circle_marker_654404abccb0426a81655630f32b66c4 = L.circleMarker(
                [28.394857000000002, 84.12400799999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_159797db86604163bf1040ba6ac46bb0 = L.popup({"maxWidth": "100%"});

        
            var html_c66dcf2c0c6446b88b05765c775a9cc3 = $(`<div id="html_c66dcf2c0c6446b88b05765c775a9cc3" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Nepal<br><strong>Confirmed Cases</strong>: 1<br></div>`)[0];
            popup_159797db86604163bf1040ba6ac46bb0.setContent(html_c66dcf2c0c6446b88b05765c775a9cc3);
        

        circle_marker_654404abccb0426a81655630f32b66c4.bindPopup(popup_159797db86604163bf1040ba6ac46bb0)
        ;

        
    
    
            var circle_marker_8bd0a8856847406eac6bc872e6238e3b = L.circleMarker(
                [12.879721, 121.77401699999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_c0c03b2ca286434396af80b970afbd27 = L.popup({"maxWidth": "100%"});

        
            var html_1a8d3492f41f434a989b5e336b31744b = $(`<div id="html_1a8d3492f41f434a989b5e336b31744b" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Philippines<br><strong>Confirmed Cases</strong>: 2<br></div>`)[0];
            popup_c0c03b2ca286434396af80b970afbd27.setContent(html_1a8d3492f41f434a989b5e336b31744b);
        

        circle_marker_8bd0a8856847406eac6bc872e6238e3b.bindPopup(popup_c0c03b2ca286434396af80b970afbd27)
        ;

        
    
    
            var circle_marker_b5814d0da258441bbcf4402c2329e894 = L.circleMarker(
                [61.52401, 105.31875600000001],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_8bcfad014d664ec881bbbb1ae3737aaa = L.popup({"maxWidth": "100%"});

        
            var html_df2c21fc56e44254915e61741b3be2eb = $(`<div id="html_df2c21fc56e44254915e61741b3be2eb" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Russia<br><strong>Confirmed Cases</strong>: 2<br></div>`)[0];
            popup_8bcfad014d664ec881bbbb1ae3737aaa.setContent(html_df2c21fc56e44254915e61741b3be2eb);
        

        circle_marker_b5814d0da258441bbcf4402c2329e894.bindPopup(popup_8bcfad014d664ec881bbbb1ae3737aaa)
        ;

        
    
    
            var circle_marker_6048ec6e66414fa6a25b75c1fa207d9f = L.circleMarker(
                [60.128161, 18.643501],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_4b9e246ce76c4d7ca91dcafd15e00453 = L.popup({"maxWidth": "100%"});

        
            var html_9e7f28c063f54b0abd8d9c58f893c23b = $(`<div id="html_9e7f28c063f54b0abd8d9c58f893c23b" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Sweden<br><strong>Confirmed Cases</strong>: 1<br></div>`)[0];
            popup_4b9e246ce76c4d7ca91dcafd15e00453.setContent(html_9e7f28c063f54b0abd8d9c58f893c23b);
        

        circle_marker_6048ec6e66414fa6a25b75c1fa207d9f.bindPopup(popup_4b9e246ce76c4d7ca91dcafd15e00453)
        ;

        
    
    
            var circle_marker_c5de50e1070d4016bb08fe24663fda67 = L.circleMarker(
                [1.352083, 103.819836],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_bf3901fedd8a4eeeba27065c901bdb7d = L.popup({"maxWidth": "100%"});

        
            var html_a2c7ff6587664bf9ad3470eeffb00ece = $(`<div id="html_a2c7ff6587664bf9ad3470eeffb00ece" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Singapore<br><strong>Confirmed Cases</strong>: 24<br></div>`)[0];
            popup_bf3901fedd8a4eeeba27065c901bdb7d.setContent(html_a2c7ff6587664bf9ad3470eeffb00ece);
        

        circle_marker_c5de50e1070d4016bb08fe24663fda67.bindPopup(popup_bf3901fedd8a4eeeba27065c901bdb7d)
        ;

        
    
    
            var circle_marker_f4f230348f6f462a8d6b51742df76001 = L.circleMarker(
                [15.870032, 100.992541],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_f097e9585ffb460cb813804e84363c5c = L.popup({"maxWidth": "100%"});

        
            var html_8ddf68d778834a3d9ab82919285b5bec = $(`<div id="html_8ddf68d778834a3d9ab82919285b5bec" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Thailand<br><strong>Confirmed Cases</strong>: 25<br></div>`)[0];
            popup_f097e9585ffb460cb813804e84363c5c.setContent(html_8ddf68d778834a3d9ab82919285b5bec);
        

        circle_marker_f4f230348f6f462a8d6b51742df76001.bindPopup(popup_f097e9585ffb460cb813804e84363c5c)
        ;

        
    
    
            var circle_marker_6ec0f10258934cfebcbd8fec9370280d = L.circleMarker(
                [23.69781, 120.96051499999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_563fc90ef63449cabaa4d75f3b9f485a = L.popup({"maxWidth": "100%"});

        
            var html_2d59b03991c34f3fb105f3dfcbc8cc98 = $(`<div id="html_2d59b03991c34f3fb105f3dfcbc8cc98" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Taiwan<br><strong>Confirmed Cases</strong>: 11<br></div>`)[0];
            popup_563fc90ef63449cabaa4d75f3b9f485a.setContent(html_2d59b03991c34f3fb105f3dfcbc8cc98);
        

        circle_marker_6ec0f10258934cfebcbd8fec9370280d.bindPopup(popup_563fc90ef63449cabaa4d75f3b9f485a)
        ;

        
    
    
            var circle_marker_5aa3368e38414ae1b9e7ed7b003d9a2b = L.circleMarker(
                [37.09024, -95.712891],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_fecd4a28284e45f59d09f84753d2ab0c = L.popup({"maxWidth": "100%"});

        
            var html_3a4d89540f6b4871940ae23ff5c844c4 = $(`<div id="html_3a4d89540f6b4871940ae23ff5c844c4" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Us<br><strong>Confirmed Cases</strong>: 11<br></div>`)[0];
            popup_fecd4a28284e45f59d09f84753d2ab0c.setContent(html_3a4d89540f6b4871940ae23ff5c844c4);
        

        circle_marker_5aa3368e38414ae1b9e7ed7b003d9a2b.bindPopup(popup_fecd4a28284e45f59d09f84753d2ab0c)
        ;

        
    
    
            var circle_marker_9d47cbc06e3942cd9f3a477474aa613a = L.circleMarker(
                [14.058323999999999, 108.277199],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_6695f013d6bf459395762096da3f4c65);
        
    
        var popup_1dda559f2f6d41efae97a59c27049ce6 = L.popup({"maxWidth": "100%"});

        
            var html_67842d77a28a4f939ae27a74b0d6f44e = $(`<div id="html_67842d77a28a4f939ae27a74b0d6f44e" style="width: 100.0%; height: 100.0%;"><strong>Country</strong>: Vietnam<br><strong>Confirmed Cases</strong>: 8<br></div>`)[0];
            popup_1dda559f2f6d41efae97a59c27049ce6.setContent(html_67842d77a28a4f939ae27a74b0d6f44e);
        

        circle_marker_9d47cbc06e3942cd9f3a477474aa613a.bindPopup(popup_1dda559f2f6d41efae97a59c27049ce6)
        ;

        
    
</script>