<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
    <link href="stylesheets/dashboard.css" rel="stylesheet" type="text/css" media="screen" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
  </head>

  <body>
    <section class="heightviewport">  
      <div class="clearfix">
        <div class="dashboard_header_box">
          <div class="dashboard_title">
            COVID-19 DataViz Challenge
          </div>
        </div>
        <div class="dashboard_header_box">
          <div class="dashboard_title_right">
            <a href="/">home</a>
          </div>
        </div>
      </div>

      <div class="clearfix">
        <div class="column menu" id="sidebar">
          <p>Singapore</p>
        </div>
        <div class="column content" id="main">
          <div id="slider3"></div>

          <button id="play-button">Play</button>
          <button>Map</button>
          <button>Stats</button>
          <br/>
          <svg width="800" height="50" id="slider_svg"></svg>
          <div id="map">
            <svg width="900" height="480" id="map_svg"></svg>           
          </div>
        </div>
      </div>
    </section>
  </body>

  <script type="text/javascript" src="/scripts/map.js"></script>


</html>