<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
    <link href="stylesheets/dashboard.css" rel="stylesheet" type="text/css" media="screen" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
  </head>

  <body>
    <section class="heightviewport" id="top">  
      <div class="clearfix">
        <div class="dashboard_header_box">
          <div class="dashboard_title">
            COVID-19 DataViz Challenge            
          </div>
        </div>
        <div class="dashboard_header_box">
          <div class="dashboard_title_right">
            <a href="#top">Map</a> | 
            <a href="#bottom">Stats</a> | 
            <a href="/">home</a>
          </div>
        </div>
      </div>

      <div class="clearfix">
        <!--
        <div class="column menu" id="sidebar">
          <p>Singapore</p>
        </div>
        -->
        <div class="column content" id="main">
          <button id="play-button">Play</button><br/>
          <svg width="800" height="50" id="slider_svg"></svg>
          <div id="map">
            <svg width="980" height="450" id="map_svg"></svg>           
          </div>
        </div>
        <div class="column right-content">
          <div id="info_map">
            <p id="date_map"></p>
            <p id="country_map"></p>
            <p id="province_map"></p>
            <div id="confirmed_text"></div> <p id="confirmed_map"></p>
            <div id="recovered_text"></div> <p id="recovered_map"></p>
            <div id="death_text"></div> <p id="deaths_map"></p>
            TODO: display line_list_data.csv news here            
          </div>
        </div>
      </div>
    </section>

    <section class="heightviewport" id="bottom">  
      <div class="clearfix">
        <div class="dashboard_header_box">
          <div class="dashboard_title">
            COVID-19 DataViz Challenge
          </div>
        </div>
        <div class="dashboard_header_box">
          <div class="dashboard_title_right">
            <a href="#top">Map</a> | 
            <a href="#bottom">Stats</a> | 
            <a href="/">home</a>
          </div>
        </div>
      </div>

      <div class="clearfix">
        <div class="column content">
          <svg id="wuhan_bar_chart" width="650" height="600"></svg>

          TODO: <br/>          
          (COVID19_open_line_list.csv) <br/>
          Wuhan not Wuhan <br/>
          Fever, runny nose, Symptoms, no symptoms <br/>
          (covid_19_data.csv - exactly same as 2019_nCoV_data.csv) - confirmed, recovered, death per continent<br/>
          Wuhan not Wuhan <br/>
          (with dataset of WVDP - correlation)<br/>
          bubble chart of x-axis (WVDP properties), y-axis (recovery rate)<br/>
        </div>
        <div class="column right-content">
        </div>
      </div>
    </section>
  </body>

  <script type="text/javascript" src="/scripts/map.js"></script>
  <script type="text/javascript" src="/scripts/stats.js"></script>

</html>