<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
    <link href="stylesheets/dashboard.css" rel="stylesheet" type="text/css" media="screen" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
  </head>

  <body>
    <section class="heightviewport" id="bottom">  
      <div class="clearfix">
        <div class="dashboard_header_box">
          <div class="dashboard_title">
            COVID-19 DataViz Challenge
          </div>
        </div>
        <div class="dashboard_header_box">
          <div class="dashboard_title_right">
            <a href="/covid">Map</a> | 
            <a href="/covidstats">Stats</a> | 
            <a href="/">home</a>
          </div>
        </div>
      </div>

      <div class="clearfix">
        <div class="column content">

          <svg id="bubble" height="900" width="900"></svg>

          <svg id="venn" height="900" width="900"></svg>
          <button id="play-button-wuhan">Play</button><br/>
          <button id="sort-button-wuhan">Sort</button><br/>
          <svg id="wuhan_bar_chart" width="1200" height="600"></svg>
          <button id="play-button-wuhan-no-hubei">Play</button><br/>
          <button id="sort-button-wuhan-no-hubei">Sort by Confirmed</button><br/>
          <button id="sort-recovered-button-wuhan-no-hubei">Sort by Recovered</button><br/>
          <button id="sort-death-button-wuhan-no-hubei">Sort by Death</button><br/>
          <svg id="wuhan_no_hubei_bar_chart" width="1200" height="600"></svg>
          <button id="play-button-country">Play</button><br/>
          <button id="sort-button-country">Sort by Confirmed</button><br/>
          <button id="sort-recovered-button-country">Sort by Recovered</button><br/>
          <button id="sort-death-button-country">Sort by Death</button><br/>
          <svg id="country_bar_chart" width="1200" height="600"></svg>

          TODO: <br/>          
          (covid_19_data.csv - exactly same as 2019_nCoV_data.csv) - confirmed, recovered, death per continent<br/>
          (with dataset of WVDP - correlation)<br/>
          bubble chart of x-axis (WVDP properties), y-axis (recovery rate)<br/>
        </div>
        <div class="column right-content">
        </div>
      </div>
    </section>
  </body>

  <script type="text/javascript" src="/scripts/stats.js"></script>
  <script type="text/javascript" src="/scripts/venn.js/venn.js"></script>
  <script type="text/javascript" src="/scripts/venn_diagram.js"></script>
  <script type="text/javascript" src="/scripts/bubble.js"></script>

</html>