<html>
<head></head>
<body>
	<br>
	<div style="padding-left:20px;">
		<span>
			<a href="/">Visualization 1</a> | 
			<a href="/vis2">Visualization 2</a> | 
			<a href="/vis3">Visualization 3</a> | 
			<a href="/vis4">Visualization 4</a> | 
			<a href="/vis5">Visualization 5</a> | 
			<a href="/vis6">Visualization 6</a> 
		</span>

		<p>CS5346 - Information Visualization - Own Time Own Target</p>

		<h1><%= title %></h1>

		<img src="http://127.0.0.1:3000/Monthly_Avg_Psi.png" width="90%"></img>
		<img src="http://127.0.0.1:3000/Monthly_Avg_Psi_2.png" width="90%"></img>
		<img src="http://127.0.0.1:3000/Monthly_Avg_Psi_3.png" width="90%"></img>
	</div>
</body>

</html>