<html>
<head></head>
<body>
	<br>
	<div style="padding-left:20px;">
		<span>
			<a href="/">Visualization 1</a> | 
			<a href="/vis2">Visualization 2</a> | 
			<a href="/vis3">Visualization 3</a> | 
			<a href="/vis4">Visualization 4</a> | 
			<a href="/vis5">Visualization 5</a> | 
			<a href="/vis6">Visualization 6</a> 
		</span>

		<p>CS5346 - Information Visualization - Own Time Own Target</p>

		<h1><%= title %></h1>

		<p><a href="http://127.0.0.1:3000/world_map.html">World Map Geographical Visualization</a></p>
		<img src="http://127.0.0.1:3000/nCov_status_china.png" width="90%"></img>

	</div>
</body>

</html>